.category-section {
    display: flex;
    gap: 20px; /* Adjust the spacing between categories as needed */
    padding: 10px;
    justify-content: center; /* Centers the items horizontally */
    align-items: center;
    margin-top: 100px;

    .dropdown {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        padding: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
        width: max-content;
      }
      
      .dropdown p {
        margin: 0;
        padding: 5px 0;
        cursor: pointer;
        text-align: left;
      }
      
  }
  
  .category-item {
    position: relative;
    text-align: center;
  }
  
  .category-item img {
    width: 100px; 
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
  }
  
  