div {
    /* border: 1px solid red; */
}

.cricket-container {
    background-color: var(--green-1);
    height: 100vh;
    padding-top: 70px;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        position: relative;
        overflow: hidden;
        width: 70%;
        height: 100%;
        margin: auto;

        .grid-item {
            /* border: 1px solid red; */
            width: 200px;
            height: 200px;
            opacity: 0;
            margin: 30px;

            transform: translateX(-100%);
            animation: slideIn 0.8s ease forwards;

        }

        .grid-item img {
            max-width: 100%;
            border-radius: 4px;


        }
    }

    .product-details-page-container {
        position: fixed;
        top: 70px;
        left: 0;
        height: 100vh;
        width: 100%;
        background: var(--black);
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        transform: translateY(100%);
        /* Initial position off-screen */
        animation: bottom 0.5s ease-in-out forwards;
        /* Apply animation */

        background: rgb(53, 51, 52);
        background: linear-gradient(225deg, rgba(53, 51, 52, 1) 0%, rgba(0, 0, 0, 1) 100%);

        .product-details-content {
            width: 70%;
            margin: auto;
            display: flex;
            flex-direction: row;
            /* align-items: center; */
            justify-content: space-between;
            height: 500px;

            img {
                width: 300px;
                height: 400px;
            }

            .product-details {
                width: 60%;
                gap: 15px;

                .product-name {
                    color: wheat;
                    font-size: 50px;
                }

                .product-desc {
                    font-size: 20px;
                    color: aquamarine;
                }

                .buttons-container {
                    display: flex;
                    gap: 20px;
                    justify-content: space-between;
                    /* border: 1px solid red; */

                    button {
                        width: 200px;
                        height: 40px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .product-details-page.slide-in {
        bottom: 0;
    }
}


/* Slide to original position grid items */
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);

    }
}

/* product-details-page slid in bottom to top */
@keyframes bottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}