.products-page {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    margin-top: 100px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for the first row */
    gap: 20px;
    width: 100%;
    max-width: 1000px; /* Limit overall width for centered alignment */
    margin: auto; /* Center the grid */
    margin-top: 40px;
}

.lower-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for the second row */
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0; /* Adds spacing between rows and centers */
}

.product-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #696970;
    transition: transform 0.2s ease; /* Animation on hover */
}

.product-category:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}

.product-category img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-category h2 {
    color: #aded9e; /* Adjust as needed */
    font-size: 1.2rem;
    margin: 10px 0;
}
.product-category a {
    text-decoration: none; /* Remove underline */
  }
  
  .product-category a img {
    cursor: pointer; /* Show pointer on hover */
  }
  
